body {
  background-color: #f4f7f5;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color:#77878B;
  padding: 20px;
  line-height:normal;
  margin: 2%;
}

/* elements */

h1 {
  font-size: x-large;
  font-weight: bolder;
  color: #373E40;
  padding: 10px;
}

p {
  
  font-size: medium;
  color: #305252;
  padding: 15px;
}

section{
  font-size: small;
  color:#F4F7F5;
  padding:5px;
}
div{
  text-align: center;
}


/* mobile */
@media(max-width: 959px){

  /* h1 {
  font-size: x-large;
  font-weight: bolder;
  color: #373E40;
  padding: 10px;
} */

/* p {
  
  font-size: larger;
  color: #305252;
  padding: 15px;
}
 */
/* section{
  font-size: large;
  color:#F4F7F5;
  padding:5px;
}
 */
  
  #head{
    height: 75px;
    /* line-height: 75px; */
    /* background:#305252; */
  }

  #blurb{
    height:100px;
    /* line-height:150px; */
    /* background: orange; */
  }

  #map{
    height:inherit;
    /* line-height:125px; */
    background:#305252;
    
  }

#map p{
  color:#F4F7F5;
}
}
  /* desktop */
@media (min-width: 960px) {
  #head{
    height: inherit;
    line-height: 100px;
    /* background: orangered; */
  }

  #blurb{
    height:inherit;
    line-height:50px;
    /* background: darksalmon; */
  }

  #map{
    height:inherit;
    line-height:50px;
    /* background: yellowgreen; */
  }

}
