body {
  background-color: #f4f7f5;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color:#77878B;
  padding: 20px;
  line-height:normal;
  margin: 2%;
}

/* elements */

h1 {
  font-size: x-large;
  font-weight: bolder;
  color: #373E40;
  padding: 10px;
}

p {
  
  font-size: medium;
  color: #305252;
  padding: 15px;
}


div{
  text-align: center;
}


/* mobile */
@media(max-width: 1000px){

  h1 {
  font-size: xx-large;
  font-weight: bolder;
  color: #373E40;
  padding: 10px;
}

p {
  
  font-size: larger;
  color: #305252;
  padding: 15px;
}

section{
  font-size: large;
  color:#F4F7F5;
  padding:5px;
}

  
  #head{
    height: inherit;
    line-height: 75px;
    /* background:#305252; */
  }

  #blurb{
    height: inherit;
    line-height: 50px;
    /* background: orange; */
  }

  #map{
    height:inherit;
    line-height: 50px;
    background:#305252;
    
  }

#map p{
  color:#F4F7F5;
}
}
  /* desktop */
@media (min-width: 10001px) {
  #head{
    height: inherit;
    line-height: 100px;
    /* background:  */
  }

  #blurb{
    height:inherit;
    line-height:50px;
    /* background:  */
  }

  #map{
    height:inherit;
    line-height:50px;
    /* background: */
  }

}
